version: '3.1'

services:
 db:
    image: mysql:8.0.15
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: relawan-covid19
      MYSQL_USER: relawan-covid19
      MYSQL_PASSWORD: relawan-covid19